{template 'common/header'}
<ul class="we7-page-tab">
    <li class="active">首页</li>
    <!--    <li><a href="#">子页面菜单</a></li>-->
</ul>
<div class="main">
    <div class="panel panel-info">
        <div class="panel-heading">前排提醒</div>
        <div class="panel-body" style="color: green;">
            请确认你当前切换的关联主体是Android下
            <br/>
            不然在微信小程序或其他主体下设置的信息，Android是读不到的
            (当前主体名称:<span style="color: red;">{$_W['account']['name']}</span>)
        </div>
    </div>
    <form action="" method="post" class="form-horizontal form" enctype="multipart/form-data" id="form1">
        <div class="panel panel-default">
            <div class="panel-heading">
                Android设置
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">QQ登录APPID</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="appId" class="form-control" value="{$siteinfo['appId']}" />
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group col-sm-12">
            <input type="submit" name="submit" value="提交" class="btn btn-primary col-lg-1" />
            <input type="hidden" name="token" value="{$_W['token']}" />
        </div>
    </form>
</div>
<script>
    console.log({php echo json_encode($_W)})
</script>
{template 'common/footer'}