{template 'common/header'}

<ul class="nav nav-tabs">
    <li {if $op == 'userlist_qq'}class="active"{/if}><a href="{php echo $this->createWebUrl('android_user', array('op' => 'userlist_qq'))}">QQ快捷登录用户</a></li>
    <li {if $op == 'userlist_wx'}class="active"{/if}><a href="{php echo $this->createWebUrl('android_user', array('op' => 'userlist_wx'))}">微信快捷登录用户</a></li>
</ul>
{if $op=='userlist_qq'}
<div class="main">
    <table class="table we7-table table-hover vertical-middle">
        <thead class="navbar-inner">
        <tr>
            <th class="text-left">序号</th>
<!--            <th class="text-left">ID</th>-->
            <th class="text-left">头像</th>
            <th class="text-left">名称</th>
            <th class="text-left">openId</th>
            <th class="text-left">性别</th>
            <th class="text-left">注册时间</th>
            <th class="text-right">操作</th>
        </tr>
        </thead>
        <tbody>
        {loop $userlist $key $row}
        <tr>
            <td class="text-left">{php echo ($pindex-1)*$psize+(++$key)}</td>
<!--            <td class="text-left">{$row['id']}</td>-->
            <td class="text-left"><img class="img-responsive" style="max-width:64px;" src="{$row['figureurl_qq']}"/></td>
            <td class="text-left">{$row['nickName']}</td>
            <td class="text-left">{$row['openId']}</td>
            <td class="text-left">
                {$row['gender']}
            </td>
            <td class="text-left">{php echo date("Y-m-d H:i:s", $row['createtime'])}</td>
            <td class="text-right">
                <button class="btn btn-primary">详情</button>
            </td>
        </tr>
        {/loop}
        </tbody>
    </table>

    <div class="pull-right">
        {$pager}
    </div>
</div>
{else if $op=='userlist_wx'}
<div class="main">
    <table class="table we7-table table-hover vertical-middle">
        <thead class="navbar-inner">
        <tr>
            <th class="text-left">序号</th>
            <!--            <th class="text-left">ID</th>-->
            <th class="text-left">头像</th>
            <th class="text-left">名称</th>
            <th class="text-left">openId</th>
            <th class="text-left">性别</th>
            <th class="text-left">注册时间</th>
            <th class="text-right">操作</th>
        </tr>
        </thead>
        <tbody>
        {loop $userlist $key $row}
        <tr>
            <td class="text-left">{php echo ($pindex-1)*$psize+(++$key)}</td>
            <!--            <td class="text-left">{$row['id']}</td>-->
            <td class="text-left"><img class="img-responsive" style="max-width:64px;" src="{$row['avatarUrl']}"/></td>
            <td class="text-left">{$row['nickName']}</td>
            <td class="text-left">{$row['openId']}</td>
            <td class="text-left">
                {if $row['gender'] == 1}
                男
                {else}
                女
                {/if}
            </td>
            <td class="text-left">{php echo date("Y-m-d H:i:s", $row['createtime'])}</td>
            <td class="text-right">
                <button class="btn btn-primary">详情</button>
            </td>
        </tr>
        {/loop}
        </tbody>
    </table>

    <div class="pull-right">
        {$pager}
    </div>
</div>
{/if}
<script type="text/javascript">

</script>
{template 'common/footer'}